{% extends 'home.html' %}
{% block sidenav %}

    <a href="http://localhost:5000/studentlist">Student List</a>
    <a class="active" href="http://localhost:5000/addstudent">Add Student</a>

{% endblock %}
{% block content %}
  {% if error %}
         <p style="color: rgb(255, 0, 0);"><strong>Error:</strong> {{ error }}
  {% endif %} 
<form action = "http://localhost:5000/addstudent" method = POST>
  <label>StudentID</label>
  <input style="margin-left:16px;" type="number" name="studentID" maxlength="8"  required>
  <br>
  <label>Name</label>
  <input style="margin-left:45px;" type="text" name="name" required>
  <br>
  <label>Date of birth</label>
  <input type="date" name="date" required>
  <br>
  <label>Math</label>
  <input style="margin-left:52px;" type="number" name= "math" min="0" max="10" step="0.01" required>
  <br>
  <label>Physic</label>
  <input style="margin-left:40px;" type="number" name= "physic"  min="0" max="10" step="0.01" required>
  <br> 
  <label>English</label>
  <input style="margin-left:35px;" type="number" name= "english"  min="0" max="10" step="0.01" required>
  <br> 
  <input type="submit" value="Add">
  </form>
{% endblock %}