<!DOCTYPE html>
<html lang="en">
<head>
<title>MyWebsite</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/style.css">
<script src="{{url_for('static', filename='delete.js')}}"></script>
</head>
<body>
<div class="sidenav">
    {%block sidenav %}{%endblock%}
</div>

<div class="header">
    {%block header %}{%endblock%}
</div>
<div class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {%block content %}{%endblock%}
</div>
</body>
</html>