{% extends 'base.html' %}
{%block header %}
<ul>
    
    <li style = "float: left; color: white; margin-left: 5px;"> <h2 style="color: white;"> MyWebSite</h2></li>
    {% if email != None %}
    <li><a href="http://localhost:5000/logout">Logout</a></li>
    {% else %}
    <li><a href="http://localhost:5000/register">Register</a></li>
    <li><a href="http://localhost:5000/login">Login</a></li>
    {% endif %}
    <li><a class="active" href="http://localhost:5000/">Home</a></li>
    
    
</ul>
{%endblock%}

{%block sidenav %}
{% if email != None %}
    <a href="http://localhost:5000/studentlist">Student List</a>
    <a href="http://localhost:5000/addstudent">Add Student</a>
{% endif %}
{%endblock%}



{%block content %}
    {% if email != None %}
    <h1 style="color: black; text-align: center;"> Welcome {{username}}</h1>
    {% else %}
    <h1 style="color: black; text-align: center;">Welcome to my website</h1>
    <h2 style="color: black; text-align: center;">{{mess}}</h2>
    {% endif %}
  
{%endblock%}