{% extends 'base.html' %}
{% block header %}
<ul>
  <li style = "float: left; color: white; margin-left: 5px;"> <h2> MyWebSite</h2></li>
  <li><a class="active" href="http://localhost:5000/register">Register</a></li>
  <li><a href="http://localhost:5000/login">Login</a></li>
  <li><a href="http://localhost:5000/">Home</a></li>
  
</ul>
{%endblock%}
{%block content %}
    <img src="/qrcode/{{email|e}}">
    
{%endblock%}