{% extends 'base.html' %}

{% block header %}
<ul>
  <li style = "float: left; color: white; margin-left: 5px;"> <h2> MyWebSite</h2></li>
  <li><a class="active" href="http://localhost:5000/register">Register</a></li>
  <li><a href="http://localhost:5000/login">Login</a></li>
  <li><a href="http://localhost:5000/">Home</a></li>
  
</ul>
{%endblock%}

{% block content %}
{% if error %}
         <p style="color:red;"><strong>Error:</strong> {{ error }}
{% endif %}
    <h1> Register</h1>
    <form action = "http://localhost:5000/register" method = POST>
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" id="username" required>
      <br>
      <label for="email">Email</label>
      <br>
      <input type="email" name="email" id="email" required>
      <br>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="password" required>
      <br>
      <input type="submit" value="Register">
    </form>
  
{% endblock %}