{% extends 'home.html' %}
{% block sidenav %}

    <a class="active" href="http://localhost:5000/studentlist">Student List</a>
    <a href="http://localhost:5000/addstudent">Add Student</a>

{% endblock %}
{% block content %}
<h2 style="color: black; text-align: left;">This is your class</h2>
<table style="width:60%">
    <tr>
      <th>StudentID</th>
      <th>Name</th> 
      <th>Date_of_Birth</th>
      <th>Math</th>
      <th>Physic</th>
      <th>English</th>
      <th>Average</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
    {% for i in students %}
    <tr>
      <td>{{i._id}}</td>
      <td>{{i.Name}}</td>
      <td>{{i.Date_of_birth}}</td>
      <td>{{i.Math}}</td>
      <td>{{i.Physic}}</td>
      <td>{{i.English}}</td>
      <td>{{i.Average}}</td>
      <td>
        <!-- Delete -->
        <button type="button" id="myBtn" class="delbtn" onclick="openForm(document.getElementById('delModal-{{i._id}}'))">---</button>
        <!-- The Modal -->
        <div id="delModal-{{i._id}}" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span onclick="closeForm(document.getElementById('delModal-{{i._id}}'))" class="close">&times;</span>
            <form action = "http://localhost:5000/deletestudent/{{i._id}}" method = "POST">
            <!-- <form action = "{{url_for('deletestudent', studentID=i._id)}}" method = "POST"></form> -->
              <h1> Delete </h1>
              <h2>{{i._id}}</h2>
              <button type="submit" class = "delete">Delete</button>
              <button type="button" class="cancel" onclick="closeForm(document.getElementById('delModal-{{i._id}}'))">Cancel</button>
            </form>
          </div>
        </div>
      </td>
      <td>
        <!-- Update -->
        <button type="button" id="myBtn" class="delbtn" onclick="openForm(document.getElementById('updModal-{{i._id}}'))">+++</button>

        <!-- The Modal -->
        <div id="updModal-{{i._id}}" class="modal">
        
          <!-- Modal content -->
          <div class="modal-content">
            <span onclick="closeForm(document.getElementById('updModal-{{i._id}}'))" class="close">&times;</span>
            <form action = "http://localhost:5000/update/{{i._id}}" method = "POST">
            <h1>Update</h1>
            <label>StudentID</label>
            <input style="margin-left:16px;" type="number" name="studentID" maxlength="8" value="{{i._id}}" readonly>
            <br>
            <label>Name</label>
            <input style="margin-left:45px;" type="text" name="name" value="{{i.Name}}" readonly>
            <br>
            <label>Date of birth</label>
            <input type="date" name="date" value="{{i.Date_of_birth}}" readonly>
            <br>
            <label>Math</label>
            <input style="margin-left:52px;" type="number" name= "math" max="10" step="0.01" value="{{i.Math}}" required>
            <br>
            <label>Physic</label>
            <input style="margin-left:40px;" type="number" name= "physic" max="10" step="0.01" value="{{i.Physic}}" required>
            <br> 
            <label>English</label>
            <input style="margin-left:35px;" type="number" name= "english" max="10" step="0.01" value="{{i.English}}"required>
            <br> 
            <input type="submit" value="Update">
          </form>
          </div>
        
        </div>
        </td>
    </tr>
    {% endfor %}
  </table>
  <form action="http://localhost:5000/studentlist" method="POST">
    <label>SortBy:</label>
    <select style="margin: 3px; padding: 5px;" id="sortby" name="sortby">
      <option value="StudentID">StudentID</option>
      <option value="Name">Name</option>
      <option value="Date_of_birth">Date_of_birth</option>
      <option value="Math">Math</option>
      <option value="Physic">Physic</option>
      <option value="English">English</option>
      <option value="Average">Average</option>
    </select>
    <br>
    <input style="padding: 5px; margin: 3px;" type="submit" value="Sort">
  </form>
{% endblock %}
